.menu-cabecera{
    background-color: #AAD9E6;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.banner{
    width: 100%; height: 120px;
}
.caja-columnas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.columna{
    flex: 1;
    background-color: #F0F0F0;
    border: 1px solid black;
    text-align: center;
}
.colorVerde{
    background-color: green;
}
.colorCeleste{
    background-color: skyblue;
}
.colorAguaMarina{
    background-color: aquamarine;
}
.colorBlue{
    background-color: blue;
}
.Menu-superior li{
    display: inline;
    padding: 5px;
    border-right: solid 2px black;
}
.Menu-superior li:last-child{
    border-right: none;
}
.Menu-superior{
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    padding: 20px;
}
.Menu-superior li a:hover{
    color: #D7F8F1;
    background-color:#7BB9CB;
    text-decoration: underline;
}
li a{
    text-decoration: none;
}
.banner{
    background-image:url(../imagenes/usabilidad-formatos-archivo.png) ;
    width: 100;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y:50%;
}
