.menu-cabecera{
    background-color: #AAD9E6;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.banner{
    width: 100%; height: 120px;
}
.caja-columnas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.caja-columnas img{
    width: 100%;
    height: 600px;
}
.columna{
    flex: 1;
    background-color: #F0F0F0;
    border: 1px solid black;
    text-align: center;
}
.color1{
    background-color: aquamarine;
}
.color2{
    background-color: skyblue;
}
.color3{
    background-color: #F7F651;
}
.Menu-superior li{
    display: inline;
    padding: 5px;
    border-right: solid 2px black;
}
.Menu-superior li:last-child{
    border-right: none;
}
.Menu-superior{
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    padding: 20px;
}
.Menu-superior li a:hover{
    color: #D7F8F1;
    text-decoration: underline;
}
li a{
    text-decoration: none;
}
.banner{
    background-image:url(../imagenes/working-process-banner-flat-style-3254401.jpg) ;
    width: 100;
    height: 290px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y:50%;
}
.contactanos{
    width: 80%;
    margin: auto;

}
form{
    padding: 15px;
}
input[type=text]{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
textarea{
    width: 100%;
    height: 100px;
}
input[type=submit]{
    width: 100%;
    background-color: rgb(20, 200, 30, 0.3);
    padding: 10px;
    color: #09744C;
}
input[type=submit]:hover{
    background-color: rgb(20, 200, 30, 0.8);
    cursor: pointer;    
}
.Footer{
    background-color: #AAD9E6;
    align-self: flex-end;
}
li a img{
    width: 32px;
}
li a img:hover{
    opacity: 30%;
}
.derechos{
    padding: 15px;
}